@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<blockquote class="trello-card"><a href="https://trello.com/c/13VS7gxG/3376-training-project-d1-net">Training project (D1) (.NET)</a></blockquote>

<p></p>

<script src="https://p.trellocdn.com/embed.min.js"></script>