@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One of Epam offices<br />
    Minsk, Jukova av. 29<br />

</address>

<address>
    <strong>Someone who made this:</strong>   <a href="mailto:Aliaksei_Ramanau2@epam.com">Aliaksei</a>
</address>